body{
    background: grey;
  }
  .yinyang{
    position:relative;
    width:48px;
    height:96px;
    border:solid black 2px;
    border-radius:50%;
    background: white;
    border-left-width:48px;
    animation: 2s infinite linear;
    animation-name:spin; 
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
  }
  .yinyang::before{
    content:" ";
    position:absolute;
    width:12px;
    height:12px;
    border:solid black 18px;
    background:white;
    border-radius:50%;
    bottom:0;
    right:26px
    
  }
  .yinyang::after{
    content:" ";
    position:absolute;
    width:12px;
    height:12px;
    border:solid white 18px;
    background:black;
    border-radius:50%;
    top:0;
    right:25px
  }
  @keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
  }
  p{
    left:47.5%;
    font-size:20px;
    position: absolute;
    top:30%;


  }
  